{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Venues Search{% endblock %}
{% block content %}
<h3>Search results for "{{ search_term }}"</h3>

<h3>Venues</h3>

<ul class="items">
	{% for venue in csVenueList %}
	<li>
		<a href="/venues/{{ venue.id }}">
			<i class="fas fa-music"></i>
			<div class="item">
				<h5>{{ venue.name }}</h5>
			</div>
		</a>
	</li>
	{% endfor %}
</ul>

<h3>Artists</h3>
<ul class="items">
	{% for artist in csArtistList %}
	<li>
		<a href="/artists/{{ artist.id }}">
			<i class="fas fa-music"></i>
			<div class="item">
				<h5>{{ artist.name }}</h5>
			</div>
		</a>
	</li>
	{% endfor %}
</ul>

{% endblock %}